include Nmyc.Enhancer.*.fa
include COPYING
include eel
include *.bg
include gffSequenceChange.py
include ensemblGFFchange.py
include readline-0.0.0.withheaders.tgz
recursive-include TFv1 *.pfm
recursive-include doc *.html
include doc/userAndDeveloperGuide.tex
include doc/userAndDeveloperGuide.ps
include src/gzstream/*
recursive-include src *.h
exclude src/gzstream/libgzstream.a
exclude src/gzstream/gzstream.o
exclude eellib/mabsClient.py  
exclude eellib/mabsServer.py  
exclude eellib/matrixTest.py
